*.font: Ubuntu Mono:pixelsize=17:antialias=true:autohint=ture;
*.alpha: 0.9

dwm.showbar: 0
dwm.selbgcolor: #fbf1c7
dwm.selfgcolor: #282828
dwm.normbgcolor: #282828
dwm.normfgcolor: #fbf1c7
dwm.selbordercolor: #fbf1c7
dwm.normbordercolor: #282828
